{% extends 'main/base.html' %}
{% block main %}
{% include 'main/includes/navbar.html' %}
{% include 'main/includes/left-sidebar.html'  %}
<div class="main">
    <div class="main-content">
        <div class="container-fluid">
            <h3 class="page-title">{{client.name}}</h3>
                {% include 'main/includes/chart.html' with dayMonthYearOption="yes" id="clientTime" heading="Client behavior" %}
                {% include 'main/includes/chart2.html' with id="chart-Client" title="Client analysis" heading="Client" control="yes"%}
                {% include 'main/includes/tableView.html' with title="Favourite products" heading="Product" control="no" %}
                {% include 'main/includes/discount-graph.html' with id="discount-Client" title="Discount impact analysis" %}
            </div>
      </div>
</div>

{% endblock main%}

{% block stat %}
<script type="text/javascript">

    function LoadProduct(client = null, beginDate = null, endDate = null, dayMonthYear = 'day') {
        $.ajax({
            method: "GET",
            url: '/api/LoadProduct/' ,
            data: {
                'beginDate': beginDate,
                'endDate': endDate,
                'client': client
            },
            success: function(data) {
                console.log(data);
                document.getElementById("clientTime-area").innerHTML = '<canvas id="chart-clientTime" height="120"></canvas>';
                if (dayMonthYear == 'day') {
                    drawChartWithPrediction(document.getElementById('chart-clientTime'),'line' , data['dayWise']);
                } else if (dayMonthYear == 'month') {
                    drawChartWithPrediction(document.getElementById('chart-clientTime'),'line' , data['monthWise']);
                } else if (dayMonthYear == 'year') {
                    drawChartWithPrediction(document.getElementById('chart-clientTime'),'line' , data['yearWise']);
                }
            },
        });
    }

    function handleDayMonthYearSelection(dayMonthYearOption) {
        LoadProduct("{{client.id}}", null, null, dayMonthYearOption.value);
    }

    $(function() {
        LoadChart("Client", null, null, null, {{client.id}}, null, null);
        LoadTable("Product", "volume", 1, null, null,null, "{{client.id}}", null, null);
        LoadTable("Product", "tk", 1, null, null,null, "{{client.id}}", null, null);
        LoadProduct("{{client.id}}", null, null, 'year');
        LoadDiscountImpact("Client", null, "{{client.id}}", null, null, 3);
    });
   $('.paging').on('click', 'a', function(e){
        e.preventDefault(); 
        var info = $(this).attr('href').split('-');
        var id  = info[0] + "-" + info[1] + '-choose';
        
        console.log(id);
        var beginDate = document.getElementById(id + "-beginDate").value;
        var endDate = document.getElementById(id + "-endDate").value;
        var e = document.getElementById(id + "-product");
        var product = '', client = '', region= '', salesman = '';

        if(e!= null) product = e.options[e.selectedIndex].value;

        e = document.getElementById(id + "-client");
        if(e != null) client = e.options[e.selectedIndex].value;

        e = document.getElementById(id + "-region");
        if(e != null) region = e.options[e.selectedIndex].value;

        e = document.getElementById(id + "-salesman");
        if(e != null) salesman =e.options[e.selectedIndex].value;

        LoadTable(info[0], info[1], info[2], beginDate, endDate,product,{{client.id}},region,salesman);
      }); 

   $("form").submit(function(event){
            event.preventDefault();
            var beginDate = document.getElementById(this.id + "-beginDate").value;
            var endDate = document.getElementById(this.id + "-endDate").value;
            var e = document.getElementById(this.id + "-product");
            var product = '', client = '', region= '', salesman = '';

            if(e!= null) product = e.options[e.selectedIndex].value;

            e = document.getElementById(this.id + "-client");
            if(e != null) client = e.options[e.selectedIndex].value;

            e = document.getElementById(this.id + "-region");
            if(e != null) region = e.options[e.selectedIndex].value;

            e = document.getElementById(this.id + "-salesman");
            if(e != null) salesman =e.options[e.selectedIndex].value;

            var info = this.id.split('-');
            LoadChart(info[0], beginDate, endDate, product, "{{client.id}}", region, salesman);
      });

    function handleDiscountImpactDuration(discountImpactDuration) {
        LoadDiscountImpact("Client", null, "{{client.id}}", null, null, discountImpactDuration.value);
    }

</script>

{% endblock %}
