{% extends 'main/base.html' %}
{% block main %}
{% include 'main/includes/navbar.html' %}
{% include 'main/includes/left-sidebar.html' with option="client" %}
<div class="main">
    <div class="main-content">
      	<div class="container-fluid">
            {% include 'main/includes/tableView.html' with title="Clients" heading="Client" %}
            {% include 'main/includes/chart.html' with id="percentile-client" heading="Clients contribution percentile" %}
        </div>
    </div>
</div>

{% endblock main%}

{% block stat %}
<script type="text/javascript">
    $(function() {
        LoadDefault("Client", "volume",1);
        LoadDefault("Client", "tk",1);
        // LoadTable("Client", "volume");
        // LoadTable("Client", 'tk');
        LoadPercentlie("client");
    });

      $("form").submit(function(event){
            event.preventDefault();
            var beginDate = document.getElementById(this.id + "-beginDate").value;
            var endDate = document.getElementById(this.id + "-endDate").value;
            var e = document.getElementById(this.id + "-product");
            var product = '', client = '', region= '', salesman = '';

            if(e!= null) product = e.options[e.selectedIndex].value;

            e = document.getElementById(this.id + "-client");
            if(e != null) client = e.options[e.selectedIndex].value;

            e = document.getElementById(this.id + "-region");
            if(e != null) region = e.options[e.selectedIndex].value;

            e = document.getElementById(this.id + "-salesman");
            if(e != null) salesman =e.options[e.selectedIndex].value;

            var info = this.id.split('-');
            LoadTable(info[0], info[1], 1 , beginDate, endDate,product,client,region,salesman);
      });
      // $('.paging').on('click', 'a', function(e){
      //   e.preventDefault(); 
      //   var info = $(this).attr('href').split('-');
      //   var id  = info[0] + "-" + info[1] + '-choose';
        
      //   console.log(id);
      //   var beginDate = document.getElementById(id + "-beginDate").value;
      //   var endDate = document.getElementById(id + "-endDate").value;
      //   var e = document.getElementById(id + "-product");
      //   var product = '', client = '', region= '', salesman = '';

      //   if(e!= null) product = e.options[e.selectedIndex].value;

      //   e = document.getElementById(id + "-client");
      //   if(e != null) client = e.options[e.selectedIndex].value;

      //   e = document.getElementById(id + "-region");
      //   if(e != null) region = e.options[e.selectedIndex].value;

      //   e = document.getElementById(id + "-salesman");
      //   if(e != null) salesman =e.options[e.selectedIndex].value;

      //   LoadTable(info[0], info[1], info[2], beginDate, endDate,product,client,region,salesman);
      // }); 

      $('.paging').on('click', 'a', function(e){
        
        e.preventDefault(); 
      
        var info = $(this).attr('href').split('-');
        var id  = info[0] + "-" + info[1] + '-choose';
        
        console.log(id);
        var beginDate = document.getElementById(id + "-beginDate").value;
        var endDate = document.getElementById(id + "-endDate").value;
        var e = document.getElementById(id + "-product");
        var product = '', client = '', region= '', salesman = '';

        var flag = 0;

        if(e!= null) product = e.options[e.selectedIndex].value;

        e = document.getElementById(id + "-client");
        if(e != null) client = e.options[e.selectedIndex].value;

        e = document.getElementById(id + "-region");
        if(e != null) region = e.options[e.selectedIndex].value;

        e = document.getElementById(id + "-salesman");
        if(e != null) salesman =e.options[e.selectedIndex].value;

        if(beginDate == '' && endDate == '' && 
          product == '' && client == '' &&
          region =='' && salesman == '') {
          console.log(info[0]);
          LoadDefault(info[0], info[1], info[2]);
        }
        else LoadTable(info[0], info[1], info[2], beginDate, endDate,product,client,region,salesman);
      }); 

</script>
{% endblock %}
