{% extends 'main/base.html' %}
{% block main %}
{% include 'main/includes/navbar.html' %}
{% include 'main/includes/left-sidebar.html' with option="salesman" %}

<div class="main">
    <div class="main-content">
        <div class="container-fluid">
            {% include 'main/includes/tableView.html' with  heading="SalesMan" %}
            {% include 'main/includes/chart.html'     with  id="percentile-salesman" heading="Salesmen contribution percentile" %}
            <div id="compare">
                {% include 'main/includes/distribution-graph.html' with id="distribution-SalesMan" title="Contribution amount (Tk) distribution of salesmen" %}
                {% include 'main/includes/compare.html' with id="comparison-salesman" heading="Compare between two salesmen" chooserHeading="SalesMan" objects=salesMans chooserID="compareSalesman" control="yes" %}
            </div>
        </div>
      </div>
</div>

{% endblock main%}

{% block stat %}
<script type="text/javascript">
    $(function() {
        LoadDefault("SalesMan","volume", 1);
        LoadDefault("SalesMan","tk", 1);
        LoadDistribution("SalesMan");
        LoadPercentlie("salesman");
        $('#comparison-salesman-chart').hide()
    });

    function Comparison(p1,p2,queryType, beginDate=null,endDate = null, product=null, client=null,region=null,salesman=null) {
        $.ajax({
            method      :"GET",
            url         :'/api/compare/' ,
            data        : {
                'modelName': 'SalesMan',
                'p1' : p1,
                'p2' : p2,
                'queryType': queryType,
                'beginDate' : beginDate,
                'endDate'   : endDate,
                'product'   : product,
                'client'    : client,
                'region'    : region,
                'salesman'  : salesman,
            },
            success: function(data){
                document.getElementById('comparison-salesman-chart-area').innerHTML='<canvas id="comparison-salesman-chart" height="120"></canvas>';
                drawChart(document.getElementById('comparison-salesman-chart'),'line', data, "First","Second");
            },
        });
    }

    $("form").submit(function(event){
        event.preventDefault();
        var beginDate = null, endDate = null;
        var e = document.getElementById(this.id + '-beginDate');
        if( e != null ) beginDate = e.value;
            
        e = document.getElementById(this.id + "-endDate");
        if( e != null ) endDate = e.value;
           
        e = document.getElementById(this.id + "-product");
        var product = '', client = '', region= '', salesman = '';

        if(e!= null) product = e.options[e.selectedIndex].value;

        e = document.getElementById(this.id + "-client");
        if(e != null) client = e.options[e.selectedIndex].value;

        e = document.getElementById(this.id + "-region");
        if(e != null) region = e.options[e.selectedIndex].value;

        e = document.getElementById(this.id + "-salesman");
        if(e != null) salesman =e.options[e.selectedIndex].value;

        var info = this.id.split('-');
        console.log(this.id);
        console.log(product);
        console.log(client);
        console.log(region );
        console.log(salesman);
        if(this.id == "comparison-salesman" || this.id == "comparison-salesman-chooser") {
            var p1 = 0, p2 = 0;
            var id = "comparison-salesman";
            var e1 = document.getElementById(id + "-s1");
            if (e1 != null) p1 = e1.options[e1.selectedIndex].value;
            var e2 = document.getElementById(id + "-s2");
            if(e2 != null) p2  = e2.options[e2.selectedIndex].value;
            var Value = $('input[name=radio]:checked').val();
            if(p1 > 0 && p2 > 0 && (Value != null && Value != '') ) {
                $('#comparison-salesman-chart').show();
                Comparison(p1,p2,Value, beginDate, endDate, product, client, region, salesman);
            }
            else {
                console.log(102);
            }
        }
        else LoadTable(info[0], info[1], 1 , beginDate, endDate,product,client,region,salesman);
    });

    $('.paging').on('click', 'a', function(e){
        e.preventDefault();
      
        var info = $(this).attr('href').split('-');
        var id  = info[0] + "-" + info[1] + '-choose';
        
        console.log(id);
        var beginDate = document.getElementById(id + "-beginDate").value;
        var endDate = document.getElementById(id + "-endDate").value;
        var e = document.getElementById(id + "-product");
        var product = '', client = '', region= '', salesman = '';

        var flag = 0;

        if(e!= null) product = e.options[e.selectedIndex].value;

        e = document.getElementById(id + "-client");
        if(e != null) client = e.options[e.selectedIndex].value;

        e = document.getElementById(id + "-region");
        if(e != null) region = e.options[e.selectedIndex].value;

        e = document.getElementById(id + "-salesman");
        if(e != null) salesman =e.options[e.selectedIndex].value;

        if(beginDate == '' && endDate == '' && 
            product == '' && client == '' &&
            region =='' && salesman == '') {
            console.log(info[0]);
            LoadDefault(info[0], info[1], info[2]);
        }
        else LoadTable(info[0], info[1], info[2], beginDate, endDate,product,client,region,salesman);
    });
</script>
{% endblock %}
