{% extends 'main/base.html' %}
{% block main %}
{% include 'main/includes/navbar.html' %}
{% include 'main/includes/left-sidebar.html' with option="home" %}
<div class="main">
    <div class="main-content">
        <div class="container-fluid">
            {% include 'main/includes/chart.html' with id="product-day-wise" heading="Products (day-wise)" dateChooser="yes" %}
            {% include 'main/includes/chart.html' with id="product-month-wise" heading="Products (month-wise)" dateChooser="yes" %}
            {% include 'main/includes/chart.html' with id="product-year-wise" heading="Products (year-wise)" dateChooser="yes" %}
        </div>
    </div>
</div>
{% endblock main%}

{% block stat %}
<script type="text/javascript">
    function LoadProductDay(product = null, beginDate = null, endDate = null) {
		$.ajax({
			method      :"GET",
			url         :'/api/LoadProduct/' ,
			data        : {
				'beginDate' : beginDate,
				'endDate'   : endDate,
				'product'   : product,
			},
			success: function(data){
			    console.log(data);
				document.getElementById("product-day-wise-area").innerHTML = '<canvas id="chart-product-day-wise" height="120"></canvas>';
                drawChart(document.getElementById('chart-product-day-wise'),'line', data['dayWise']);
			} ,
		});
	}

	function LoadProductMonth(product = null, beginDate = null, endDate = null) {
		$.ajax({
			method      :"GET",
			url         :'/api/LoadProduct/' ,
			data        : {
				'beginDate' : beginDate,
				'endDate'   : endDate,
				'product'   : product,
			},
			success: function(data){
			    console.log(data);
				document.getElementById("product-month-wise-area").innerHTML = '<canvas id="chart-product-month-wise" height="120"></canvas>';
                drawChart(document.getElementById('chart-product-month-wise'),'line', data['monthWise']);
			} ,
		});
	}

	function LoadProductYear(product = null, beginDate = null, endDate = null) {
		$.ajax({
			method      :"GET",
			url         :'/api/LoadProduct/' ,
			data        : {
				'beginDate' : beginDate,
				'endDate'   : endDate,
				'product'   : product,
			},
			success: function(data){
				document.getElementById("product-year-wise-area").innerHTML = '<canvas id="chart-product-year-wise" height="120"></canvas>';
				drawChart(document.getElementById('chart-product-year-wise'),'line' , data['yearWise'] );
			} ,
		});
	}

	$(function() {
	    LoadProductDay();
		LoadProductMonth();
		LoadProductYear();
	});

    $("#product-day-wise-date-chooser").submit(function( event ) {
	    LoadProductDay(
	        null,
	        document.getElementById('product-day-wise-date-chooser-begin-date').value,
	        document.getElementById('product-day-wise-date-chooser-end-date').value
        );
        event.preventDefault();
    });

	$("#product-month-wise-date-chooser").submit(function( event ) {
	    LoadProductMonth(
	        null,
	        document.getElementById('product-month-wise-date-chooser-begin-date').value,
	        document.getElementById('product-month-wise-date-chooser-end-date').value
        );
        event.preventDefault();
    });

    $("#product-year-wise-date-chooser").submit(function( event ) {
	    LoadProductYear(
	        null,
	        document.getElementById('product-year-wise-date-chooser-begin-date').value,
	        document.getElementById('product-year-wise-date-chooser-end-date').value
        );
        event.preventDefault();
    });
</script>
{% endblock %}
