{% extends 'main/base.html' %}
{% block main %}
{% include 'main/includes/navbar.html' %}
{% include 'main/includes/left-sidebar.html'  %}
<div class="main">
    <div class="main-content">
      	<div class="container-fluid">
            <h3 class="page-title">{{product.name}}</h3>
            {% include 'main/includes/chart.html' with dayMonthYearOption="yes" id="productTime" heading="Product behavior" %}
            {% include 'main/includes/chart2.html' with id="chart-Product" title="Product analysis" heading="Product" control="yes"%}
        </div>
    </div>
</div>

{% endblock main%}

{% block stat %}
<script type="text/javascript">
  function LoadProduct(product = null, beginDate = null, endDate = null, dayMonthYear = 'day') {
        $.ajax({
              method      :"GET",
              url         :'/api/LoadProduct/' ,
              data        : {
                    'beginDate' : beginDate,
                    'endDate'   : endDate,
                    'product'   : product
              },
              success: function(data){
                    console.log(data)
                    if (dayMonthYear == 'day') {
                        document.getElementById("productTime-area").innerHTML = '<canvas id="chart-productTime" height="120"></canvas>';
                        drawChartWithPrediction(document.getElementById('chart-productTime'),'line' , data['dayWise']);
                    }
                    else if (dayMonthYear == 'month') {
                        document.getElementById("productTime-area").innerHTML = '<canvas id="chart-productTime" height="120"></canvas>';
                        drawChartWithPrediction(document.getElementById('chart-productTime'),'line' , data['monthWise']);
                    } else if (dayMonthYear == 'year') {
                        document.getElementById("productTime-area").innerHTML = '<canvas id="chart-productTime" height="120"></canvas>';
                        drawChartWithPrediction(document.getElementById('chart-productTime'),'line' , data['yearWise']);
                    }
              } ,
        });
  }

  function handleDayMonthYearSelection(dayMonthYearOption) {
    LoadProduct("{{product.id}}", null, null, dayMonthYearOption.value);
  }

  function LoadPrediction(modelName, queryId) {
        $.ajax({
              method      :"GET",
              url         :'/api/predict/' +  modelName,
              data        : {
                    'model'   : modelName,
                    'id'      : queryId,
              },
              success: function(data){
                  drawOneChart(document.getElementById('prediction-'+modelName),  modelName, 'line', data)
              } ,
        });
  }
   $(function() {
            LoadChart("Product", null, null, {{product.id}}, null ,null, null);
            LoadProduct("{{product.id}}");
            LoadPrediction("Product", "{{product.id}}");


      });

   $("form").submit(function(event){
            event.preventDefault();
            var beginDate = document.getElementById(this.id + "-beginDate").value;
            var endDate = document.getElementById(this.id + "-endDate").value;
            var e = document.getElementById(this.id + "-product");
            var product = '', client = '', region= '', salesman = '';

            if(e!= null) product = e.options[e.selectedIndex].value;

            e = document.getElementById(this.id + "-client");
            if(e != null) client = e.options[e.selectedIndex].value;

            e = document.getElementById(this.id + "-region");
            if(e != null) region = e.options[e.selectedIndex].value;

            e = document.getElementById(this.id + "-salesman");
            if(e != null) salesman =e.options[e.selectedIndex].value;

            var info = this.id.split('-');
            LoadChart(info[0], beginDate, endDate, {{product.id}}, client, region, {{salesman.id}});
      });

</script>

{% endblock %}
