{% extends 'main/base.html' %}
{% block main %}
{% include 'main/includes/navbar.html' %}
{% include 'main/includes/left-sidebar.html'  %}
<div class="main">
    <div class="main-content">
        <div class="container-fluid">
            <h3 class="page-title">{{salesman.name}}</h3>
            {% include 'main/includes/chart.html' with monthYearOption="yes" id="salesmanTime" heading="Salesman behavior" %}
            {% include 'main/includes/chart2.html' with id="chart-SalesMan" title="Salesman analysis" heading="SalesMan" control="yes"%}
            {% include 'main/includes/tableView.html' with title="Most sold products" heading="Product" control="no" %}
        </div>
    </div>
</div>

{% endblock main%}

{% block stat %}
<script type="text/javascript">

    function LoadProduct(salesman = null, beginDate = null, endDate = null, monthYear = 'year') {
        $.ajax({
            method: "GET",
            url: '/api/LoadProduct/' ,
            data: {
                'beginDate': beginDate,
                'endDate': endDate,
                'salesman': salesman
            },
            success: function(data) {
                document.getElementById("salesmanTime-area").innerHTML = '<canvas id="chart-salesmanTime" height="120"></canvas>';
                if (monthYear == 'year') {
                    drawChartWithPrediction(document.getElementById('chart-salesmanTime'),'line' , data['year']);
                } else if (monthYear == 'month') {
                    drawChartWithPrediction(document.getElementById('chart-salesmanTime'),'line' , data['onlyThisYear']);
                }
            },
        });
    }

    function handleMonthYearSelection(monthYearOption) {
        LoadProduct("{{salesman.id}}", null, null, monthYearOption.value);
    }
      
   $(function() {
            LoadProduct("{{salesman.id}}", null, null, 'year');
            LoadChart("SalesMan", null, null, null, null ,null, {{salesman.id}});
            LoadTable("Product", "volume", 1, null, null,null, null, null, "{{salesman.id}}");
            LoadTable("Product", "tk", 1, null, null,null, null,null, "{{salesman.id}}");
            


      });
   $('.paging').on('click', 'a', function(e){
        e.preventDefault(); 
        var info = $(this).attr('href').split('-');
        var id  = info[0] + "-" + info[1] + '-choose';
        
        console.log(id);
        var beginDate = document.getElementById(id + "-beginDate").value;
        var endDate = document.getElementById(id + "-endDate").value;
        var e = document.getElementById(id + "-product");
        var product = '', client = '', region= '', salesman = '';

        if(e!= null) product = e.options[e.selectedIndex].value;

        e = document.getElementById(id + "-client");
        if(e != null) client = e.options[e.selectedIndex].value;

        e = document.getElementById(id + "-region");
        if(e != null) region = e.options[e.selectedIndex].value;

        e = document.getElementById(id + "-salesman");
        if(e != null) salesman =e.options[e.selectedIndex].value;

        LoadTable(info[0], info[1], info[2], beginDate, endDate,product,client,region,"{{salesman.id}}");
      }); 

   $("form").submit(function(event){
            event.preventDefault();
            var beginDate = document.getElementById(this.id + "-beginDate").value;
            var endDate = document.getElementById(this.id + "-endDate").value;
            var e = document.getElementById(this.id + "-product");
            var product = '', client = '', region= '', salesman = '';

            if(e!= null) product = e.options[e.selectedIndex].value;

            e = document.getElementById(this.id + "-client");
            if(e != null) client = e.options[e.selectedIndex].value;

            e = document.getElementById(this.id + "-region");
            if(e != null) region = e.options[e.selectedIndex].value;

            e = document.getElementById(this.id + "-salesman");
            if(e != null) salesman =e.options[e.selectedIndex].value;

            var info = this.id.split('-');
            LoadChart(info[0], beginDate, endDate, product, client, region, {{salesman.id}});
      });

</script>

{% endblock %}
