<div class="panel-footer">
    <div class="card card-block">
        <form class="form" id="{{id}}">
            <div class="form-group row">
                <label class="col-sm-1 col-form-label">Begin Date</label>
                <div class="col-sm-3">
                    <input type="date" name="bday" id="{{id}}-begin-date" class="form-control">
                </div>
                <label class="col-sm-1 col-form-label">End Date</label>
                <div class="col-sm-3">
                    <input type="date" name="bday" id="{{id}}-end-date" class="form-control">
                </div>
                <div class="col-sm-2">
                    <input type="submit" class="btn btn-primary" name="" value="Refresh Chart">
                </div>
            </div>
        </form>
    </div>
</div>
