<div id="sidebar-nav" class="sidebar" >
	<div class="sidebar">
		<nav>
			<ul class="nav">
				<li><a href="{% url 'index' %}" {% if option == "home" %} class="active" {% endif %} ><i class="lnr lnr-home"></i> <span>Dashboard</span></a></li>
				<li><a href="{% url 'products' %}" {% if option == "product" %} class="active" {% endif %} ><i class="lnr lnr-cart"></i> <span>Products</span></a></li>
				<li><a href="{% url 'clients' %}" {% if option == "client" %} class="active" {% endif %} ><i class="lnr lnr-users"></i> <span>Clients</span></a></li>
				<li><a href="{% url 'regions' %}" {% if option == "region" %} class="active" {% endif %} ><i class="lnr lnr-map-marker"></i> <span>Regions</span></a></li>
				<li><a href="{% url 'salesmans' %}" {% if option == "salesman" %} class="active" {% endif %} ><i class="lnr lnr-bicycle"></i> <span>Salesmen</span></a></li>
			</ul>
		</nav>
	</div>
</div>