<table class="table table-condensed table-hover"
<thead>
      <tr>
            <th>Region Name</th>
            {% if queryType == "volume" %}
             <th>Volume</th>
             {% else %}
             <th>Amount</th>
            {% endif %}
      </tr>
</thead>
<tbody>

{% for p,vol,tk in objects %}
<tr>
      
	<td><a href="{% url 'region' p.id %}">{{p.name}}</td>
            {% if queryType == "tk" %}
            <td>{{tk}}</td>
            {% else %}
            <td>{{vol}}</td>
            {% endif %}

</tr>
{% endfor %}

</tbody>
</table>
