<select id="item_id">
{% for entry in items %}
    <option value="{{ entry.id }}">{{ entry.name }}</option>
{% endfor %}
<input type="date" name="bday" id="date">
<input type="button" name="submit" value="submit" onclick="func()">


<script type="text/javascript">

      function func() {
            var e = document.getElementById("item_id");
            var strUser = e.options[e.selectedIndex].text;
            console.log(strUser);
            var choice = document.getElementById("date").value;
            console.log(choice);
      }


</script>
